@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  z-index: 0;
}

.btnLaunch1, .btnLaunch2, .btnLaunch3, .btnLaunch4 {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border: 2px solid #0057fa;
  border-radius: 100px;
}

.btnLaunch1:hover, .btnLaunch2:hover, .btnLaunch3:hover, .btnLaunch4:hover {
  border: 2px solid #002261;
}
