<h1>Angular Toast</h1>

<div >
  <button class="btnLaunch1" (click)="showToastSuccess()">Success Toast</button>

  <button class="btnLaunch1" (click)="showToastError()">Error Toast</button>

  <button class="btnLaunch1" (click)="showToastInfo()">Info Toast</button>

  <button class="btnLaunch1" (click)="showToastWarning()">Warning Toast</button>
</div>

<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<div class='col-xs-10'>-->
<!--<button type="button" (click)="onDelete()" >Delete</button>-->
<!--<br>-->
<!--<br>-->
<!--  <ul class="list-group">-->
<!--    <li class="list-group-item" *ngFor="let fruit of fruits">{{ fruit }} <input  class="form-check-input pull-right" type="checkbox" value="" id="flexCheckDefault">-->
<!--  </ul>-->
<!--  -->
<!--</div>-->


