
    .content-box {
      margin-top: 6%;
    }

    #btn-container {
      display:flex;
      justify-content: space-between;
      padding:0 1% 0 1%;
      
    }

    .shopping-btn {
      margin-top: 2%;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.75);
        z-index: 50;
      }
    
      .alert-box {
        position: fixed;
        top: 32vh;
        left: 37vw;
        width: 26vw;
        height: 11vh;
        padding: 25px;
        z-index: 100;
        background: white;
        box-shadow: 0 8px 8px rgb(0 0 0);
        font-size: 2rem;
      }
    
      .alert-box-actions {
        display: flex;
        justify-content: space-between;
        margin-left: 70%;
      }
    
      .btnn {
        width: 46%;
      }
    
      @media (max-width: 600px) {  
    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.75);
      z-index: 50;
    }
    
    .alert-box {
      position: fixed;
      top: 32vh;
      left: 5vw;
      width: 90vw;
      height: 10vh;
      padding: 22px;
      z-index: 100;
      background: white;
      box-shadow: 0 8px 8px rgb(0 0 0);
      font-size: 1.9rem;
    }
    
    .alert-box-actions {
      display: flex;
      justify-content: space-between;
      margin-left: 60%;
      
    }
    
    .btnn {
      width: 48%;
    }
  }